In [16]:
import json
import random
from datetime import datetime
from pathlib import Path

import numpy as np
import pandas as pd
from fbprophet import Prophet

%load_ext autoreload
%autoreload 2
Path.ls = lambda x: list(x.iterdir())

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [3]:
import json
from urllib.request import urlopen

from pandas import json_normalize

response = urlopen("https://api.covid19india.org/data.json")
json_data = json.loads(response.read().decode("utf-8", "replace"))
# print(json_data.keys())
case_count_dict = json_normalize(json_data["cases_time_series"])
case_count_df = pd.DataFrame(case_count_dict)
tested_dict = json_normalize(json_data["tested"])
tested_df = pd.DataFrame(tested_dict)
# case_count_df, tested_df

In [5]:
tested_df = tested_df[["totalsamplestested", "updatetimestamp"]]

In [7]:
from dateutil.parser import parse
tested_df.updatetimestamp = tested_df.updatetimestamp.apply(parse)

/Users/nirant/miniconda3/envs/nanda/lib/python3.8/site-packages/pandas/core/generic.py:5303: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [21]:
tested_df["totalsamplestested"].replace("", np.nan, inplace=True)
tested_df.dropna(subset=["totalsamplestested"], inplace=True)
tested_df.totalsamplestested = tested_df.totalsamplestested.apply(int)
tested_df

/Users/nirant/miniconda3/envs/nanda/lib/python3.8/site-packages/pandas/core/generic.py:6746: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

<ipython-input-21-09c748cc3bb9>:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/nirant/miniconda3/envs/nanda/lib/python3.8/site-packages/pandas/core/generic.py:5303: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

    totalsamplestested     updatetimestamp
0                 6500 2020-03-13 00:00:00
1                13125 2020-03-18 18:00:00
2                13316 2020-03-19 10:00:00
3                14175 2020-03-19 18:00:00
4                14376 2020-03-20 10:00:00
5                15404 2020-03-20 18:00:00
6                15701 2020-03-21 10:00:00
7                16911 2020-03-21 18:00:00
8                16999 2020-03-22 10:00:00
9                18127 2020-03-22 18:00:00
10               18383 2020-03-23 10:00:00
11               20707 2020-03-23 20:00:00
12               20864 2020-03-24 10:00:00
13               22694 2020-03-24 20:00:00
14               22928 2020-03-25 10:00:00
15               25144 2020-03-25 20:00:00
18               27688 2020-03-27 09:00:00
19               38442 2020-03-30 00:00:00
20               42788 2020-03-31 00:00:00
21               47951 2020-01-04 00:00:00
22               55851 2020-02-04 21:00:00
23               56680 2020-03-04 09:00:00
24               69245 2020-03-04 21:00:00
25               79950 2020-04-04 21:00:00
26               89534 2020-05-04 21:00:00

In [22]:
tested_df.totalsamplestested.diff()

0         NaN
1      6625.0
2       191.0
3       859.0
4       201.0
5      1028.0
6       297.0
7      1210.0
8        88.0
9      1128.0
10      256.0
11     2324.0
12      157.0
13     1830.0
14      234.0
15     2216.0
18     2544.0
19    10754.0
20     4346.0
21     5163.0
22     7900.0
23      829.0
24    12565.0
25    10705.0
26     9584.0
Name: totalsamplestested, dtype: float64

In [23]:
import matplotlib.pyplot as plt